@import "tailwindcss";

#root{
    padding: 0px !important;
}

.LoginBtn {
    display: flex;
    position: absolute;
    right: 0;
}

.blogs {
    margin-top: 0px;
    padding: 100px 50px 0px 50px;
}

.menuButton {
    width: calc(var(--spacing) * 11);
    height: calc(var(--spacing) * 11);
    border-radius: 50% !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}